.cards{
    display: flex;
    padding: 0 20px;
    gap: 5px;

}


.card-img{
    flex: 0 0 19.7%;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}


.cards:hover .card-img{
    transform: translateX(-25%);
}

.card-img:hover ~ .card-img{
     transform: translateX(-25%);
}
