.navbar{
    width: 100%;
    padding-top: 20px;
    z-index: 100000000000;
    overflow: hidden;
}
header{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-1{
    display: flex;
    align-items: center;
    padding: 0 25px;
}
.header-1 .header-menu{
    margin-left: 50px;
}

.header-1 .header-menu a{
    margin:  0 8px;
    text-decoration: none;
    color: #FFFF;
}

.header-logo img{
    height: 40px;
}

.header-1 .header-menu a:hover{
    opacity: .7;
    transition: .5s ease;
}


.header-2  svg{
    margin: 0 10px;
    cursor: pointer;
}

.header-2 svg:hover{
    opacity: .8;
    transition: .5s ease;
}