.highlight{
    width: 100vw;
    height: 800px;
    overflow: hidden;
}

.highlight img{
    width: 100%;
    height: 850px;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
    filter: brightness(60%);
    
}


.highlight-content{
    max-width: 500px;
    padding: 50px 30px;
}

.highlight-content .game-title{
    color: #FFFF;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.highlight-content .game-desc{
    color: #FFF;
    max-width: 400px;
    font-size: 14px;
    word-spacing: 1.5px;
    font-weight: 400;
    margin: 25px 0 ;

}

.highlight-content .movie-play{
    padding: 10px 20px;
    text-transform: uppercase;
    width: 130px;
    border-radius: 3px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 10px;
}

.highlight-content .movie-info{
    padding: 9px 20px;
    text-transform: uppercase;
    width: 180px;
    border-radius: 3px;
    color: #FFF;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgba(109,109,110,0.7);
    
}

.highlight-content .movie-info:hover{
    background-color: rgba(109,109,110,.8);
}

.highlight-content .movie-play:hover{
    opacity: 0.9;
    transform: skew(5deg);
    transition: .7s ease;
}

.movie-btn{
    display: flex;
    gap: 20px;
}

.highlight a{
    text-decoration: none;
}

.highlight span{
    color: #FFFF;
}